<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='functionalScripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='testScripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="button_container">
        <button class="button" onclick="submit()"> SUBMIT</button>
        <button class="button" onclick="clearInputs()"> Clear</button>
        <button class="button" onclick="fillTest()">Test</button>
        <!--<span>{{ solved }}</span>-->
    </div>
    <div style="width: 50%; border-bottom: solid; margin-top: 10px; margin-left: auto; margin-right: auto;"></div>
    <div class="main_container">
        <form name="main_form" id="main_form" action="" method = "POST">
        {% for j in range(0,9) %}
            <div class="mid_container">
                {% for i in range(0,9) %}
                    {% if (j<3 or j>5) %}
                        {% if (i<3 or i>5) %}
                            <div class="small_container dark" align="center">
                                <input name="{{ j, i }}" class="input dark" type="text" maxlength="1" value = {{ matrix[(j,i)] }}>
                            </div>
                        {% else %}
                             <div class="small_container light" align="center">
                                 <input name="{{ j, i }}" class="input light" type="text" maxlength="1" value = {{ matrix[(j,i)] }}>
                             </div>
                        {% endif %}
                    {% else %}
                        {% if (i<3 or i>5) %}
                            <div class="small_container light" align="center">
                                <input name="{{ j, i }}" class="input light" type="text" maxlength="1" value = {{ matrix[(j,i)] }}>
                            </div>
                        {% else %}
                             <div class="small_container dark" align="center">
                                 <input name="{{ j, i }}" class="input dark" type="text" maxlength="1" value = {{ matrix[(j,i)] }}>
                             </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </form>
    </div>
</body>

</html>